
<h3>Login</h3>
<form method="POST" action="<%= path_to @params[:controller], "login" %>">
<input type="text" name="user" /><label for="user"> Username</label><br>
<input type="password" name="pass" /><label for="pass"> Password</label><br>
<input type="checkbox" name="cookies_enabled" checked=checked /><label for="cookies_enabled"> Do you want to use cookies?</label><br>
<input type="submit" name="submit" value="Login" />
</form>
